<h1 class="text-center my-3">Forgot Password</h1>
<div class="container">
  <%if(error){%>
  <div class="alert alert-warning" role="alert"><%=error%></div>
  <%}%>
  <section id="update" class="mx-4">
    <form
      method="POST"
      enctype="application/x-www-form-urlencoded"
      action="/user/reset-password"
    >
      <div class="mb-3">
        <label for="email" class="form-label">Your Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Forgot Password</button>
    </form>
  </section>
</div>
