<h1 class="text-center my-3">Update Password</h1>
<div class="container">
  <%if(error){%>
  <div class="alert alert-warning" role="alert"><%=error%></div>
  <%}%> <%if(hasPassword){%>
  <section id="update" class="mx-4">
    <form
      method="POST"
      enctype="application/x-www-form-urlencoded"
      action="/user/update-password"
    >
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input
          type="password"
          name="oldPassword"
          class="form-control"
          id="oldPassword"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          class="form-control"
          id="confirmPassword"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
  </section>
  <%}%>
</div>
